body, html {
    background-image: url("../images/bananas.png");
    text-align: center;
}

p {
    font-family: 'Ranga', cursive;
    font-size: 26px;
}
.jumbotron {
    background-color: teal;
    opacity: 0.8;
}
.game {
    border: 3px dashed darkblue;
}
.page-footer {
    background-color: teal;
    opacity: 0.8;
}
a {
    color: yellowgreen;
}
footer {
    color: yellow;
}